<div>
    
    
    <div id="content">
        <table class ="table  table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Pret</th>
                    <th> Servicii</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let pachets of pachet" >
                    <td> {{ pachets.id }} </td>
                    <td> {{ pachets.pret }} </td>
                    <td> {{ pachets.servicii}} </td>
                    
                    <td>
                          <!-- <button (click) = "updateUser(users.id)" class = "btn btn-primary"> Update</button>
                          <button (click) = "deleteUser(users.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button> -->
                          
                    </td>
                    
                </tr>
            </tbody>
        </table>
    
    

</div>
