<div  class="container-fluid" >
    <div class="row flex-nowrap">
        <div *ngIf = "this.role != null" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li *ngIf = "this.client == true" >
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="programarile-mele"*ngIf = "this.client == true" class="nav-link px-0"> <span class="d-none d-sm-inline">Programarile mele</span>  </a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="add-programare" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span  *ngIf = "this.client == true" class="ms-1 d-none d-sm-inline">Adauga programare</span></a>
                    </li>
                    <li *ngIf = "this.admin == true">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Panou admin</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="add-serv" class="nav-link px-0"> <span class="d-none d-sm-inline">Adauga serviciu</span> </a>
                            </li>
                            <li>
                                <a href="serv-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Listare serviciu</span> </a>
                            </li>
                            <li>
                                <a href="add-pachet" class="nav-link px-0"> <span class="d-none d-sm-inline">Adauga pachet</span> </a>
                            </li>
                            <li>
                                <a href="pachet-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Listare pachet</span> </a>
                            </li>
                            <li>
                                <a href="add-user" class="nav-link px-0"> <span class="d-none d-sm-inline">Adauga cont</span> </a>
                            </li>
                            <li>
                                <a href="user-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Listare conturi</span> </a>
                            </li>
                            <li>
                                <a href="programare-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Listare programari</span> </a>
                            </li>
                            <li>
                                <a href="confirmare-admin" class="nav-link px-0"> <span class="d-none d-sm-inline">Acceptare programari</span> </a>
                            </li>
                        </ul>
                    </li>
                   
                    
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="" (click) = logOut()>LogOut</a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>